@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap");

html {
  font-family: Poppins, "Hoefler Text", Georgia, "Times New Roman", Times, Roman, serif;
  background: #343148FF;
  font-size: 1.125em;
}

h1 {
  font-size: 250%;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  color: #D7C49EFF;
}

h2 {
  font-size: 100%;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1em;
  background: #D7C49EFF;
}

label {
  display: block;
  padding-bottom: 0.25;
  text-align: center;
  text-decoration: underline;
  margin-top: 1em;
  color: #D7C49EFF;
}

fieldset {
  border-color: transparent;
}

button, input {
  overflow: visible;
  margin-top: 1em;
  margin-bottom: 1em;
}

footer {
  margin-top: 1em;
  background: #D7C49EFF;
}

img {
  padding-top: 4em;
  width: 7em;
  height: 7em;
}

#wrap input[type="date"], [type="email"], [type="text"], [type="number"] {
  border-color: transparent;
}

@media screen and (min-width: 10em) {
  #wrap {
    display: inline-block;
    justify-content: center;
  }
  html {
    font-size: 50%;
    display: inline-block;
    text-align: center;
    justify-content: center;
  }
}

@media screen and (min-width: 15em) {
  #wrap {
    display: inline-block;
    justify-content: center;
  }
  html {
    font-size: 75%;
    display: inline-block;
    text-align: center;
    justify-content: center;
  }
}

@media screen and (min-width: 50em) {
  #wrap {
    display: inline-block;
    justify-content: center;
  }
  html {
    font-size: 100%;
    display: inline-block;
    text-align: center;
    justify-content: center;
  }
}
