@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap");

html {
  font-family: Poppins, "Hoefler Text", Georgia, "Times New Roman", Times, Roman, serif;
  background: #343148FF;
  font-size: 1.125em;
}

h1 {
  font-size: 250%;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  color: #D7C49EFF;
}

h2 {
  font-size: 100%;
  text-align: center;
  margin-bottom: 0.5em;
  color: #FFFEF2;
}

label {
  display: block;
  padding-bottom: 0.25;
  text-align: center;
  text-decoration: underline;
  margin-top: 1em;
  color: #D7C49EFF;
}

fieldset {
  border-color: transparent;
}
